

<div class = 'panel2 panel-info' >
  <div class = 'panel-heading2'><%= link_to edit_task_path(task) do %>
    Created <%= time_ago_in_words(task.created_at) %> ago
    <%  end %>
    <%= link_to 'X', task_path(task), method: :delete, data: {
      confirm: 'Are you sure?'}, class: 'pull-right' %>
  </div>

  <div class = 'panel-body'><%= task.content %>

  </div>

    <div class = 'panel-footer2'>

      <div class='btn-group btn-group-justified'>
        <% if task.state == 'doing' %>
        <%= link_to '<i class="fa fa-arrow-left" style="float:left; position:relative;top:-10px; left:-8px;" ></i>'.html_safe, change_task_path(task, state: 'to_do'),
        method: :put, class: '' %>
        <%= link_to '<i class="fa fa-arrow-right" style="float:right; position:relative;top:-10px; left:8px;""></i>'.html_safe, change_task_path(task, state: 'done'),
        method: :put, class: '' %>
        <% elsif task.state == 'done' %>
        <%= link_to '<i class="fa fa-arrow-left" style="float:left; position:relative;top:-10px; left:-8px;""></i>'.html_safe, change_task_path(task, state: 'doing'),
        method: :put, class: '' %>
        <% else %>
        <%= link_to '<i class="fa fa-arrow-right" style="float:right; position:relative;top:-10px; left:8px;""></i>'.html_safe, change_task_path(task, state: 'doing'),
        method: :put, class: '' %>
        <% end %>
    </div>
  </div>
</div>
